<h1>New task</h1>

<%= render "form", task: @task %>

<br>
<button class="btn btn-secondary">どうも</button>
<button class="btn btn-accent">こんにちは！！</button>
<button class="btn btn-primary">雨だね</button>
<div>
  <%= link_to "Back to tasks", tasks_path %>
</div>
