<div class="flex flex-col justify-center items-center min-h-screen">
  <h1 class="text-3xl font-bold mb-10 flex justify-center mt-20">プロフィール編集</h1>

  <%= render "form", user: @user %>

<br>

  <div class="text-center ml-15">
    <%= link_to "Show this user", @user, class: "hover:text-rose-400" %>
  </div>
</div>
