<!-- app/views/static_pages/top.html.erb -->
<div class="flex flex-col justify-center items-center min-h-screen bg-gray-950 text-yellow-200 p-6">
  <%= image_tag "logo.png", class: "w-100 h-100 mb-4" %>
  <h2 class="text-2xl text-center mb-6 font-bold text-neonYellow">
  日常に"ええワライ"を。
  </h2>

  <div class="text-left max-w-md w-full">
    <div class="flex items-center mb-4">
      <p class="text-lg">
        <strong>1. テーマを選ぶ</strong><br>
        AIの元気なおばちゃんが、選んだテーマに合ったとっておきの小話を披露!
      </p>
    </div>
    <div class="flex items-center mb-4">
      <p class="text-lg">
        <strong class>2. タイトルを決める</strong><br>
        小話を聞いて、ぴったりなタイトルをつけてみて。センスが問われるかも！？
      </p>
    </div>
    <div class="flex items-center mb-4">
      <p class="text-lg">
        <strong>3. シェア</strong><br>
        面白かったら、シェアでみんなに教えてあげよう!
      </p>
    </div>
  </div>

  <div class="flex flex-col items-center mt-4">
    <div class="text-xs badge badge-outline mb-2 ">※会員限定機能です</div>
    <%= link_to login_path, class: "btn bg-pink-200 opacity-80 mt-8" do %>
      おばちゃんの小話を聞いてみる
    <% end %>
  </div>
</div>
