<!-- app/views/static_pages/top.html.erb -->
<div class="flex flex-col justify-center items-center min-h-screen bg-pink-100">
  <h2 class="text-4xl text-center mb-6 font-bold text-yellow-800">
    笑いの世界へようこそ！おもろいかは知らんけど...
  </h2>
  <p class="text-lg text-center mb-10 text-gray-800">
    関西のおばちゃんがあなたにジョークを届けます。
    <br>
    テーマを選んで、おもしろいジョークを聞いてみましょう！
  </p>
  <div class="mt-4">
    <%= link_to jokes_new_path, class: "btn btn-lg btn-primary bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded" do %>
      ジョークを聞く
    <% end %>
  </div>
</div>
