<!-- app/views/static_pages/top.html.erb -->
<div class="flex flex-col justify-center items-center min-h-screen bg-white">
  <h2 class="text-3xl text-center mb-6 font-bold text-yellow-800">
  笑いのタネ、集めました
  </h2>
  <p class="text-lg text-center mb-10 text-gray-800">
    使い方は簡単！
    <br>
    <br>
    <strong>1.聞きたい小話のテーマを選ぶ</strong>
    <br>
    大阪出身の元気なおばちゃんが、選んだテーマに合うとっておきの小話を披露してくれます。
    <br>
    <br>
    <strong>2.タイトルを決めて投稿</strong>
    <br>
    おばちゃんの小話を聞いてピッタリなタイトルをつけてみて。
    <br>
    あなたのセンスが試されるかも！
    <br>
    <br>
    <strong>3.いいね、シェアで広める</strong>
    <br>
    おもしろかったら、いいねやXでシェアしてみんなにも教えてあげて。
    <br>
    <br>
    <br>
    さあ、早速テーマを選んでおもしろい小話を聞いてみて。
  </p>
  <div class="mt-4">
    <%= link_to jokes_new_path, class: "btn btn-outline btn-neutral text-gray-700 hover:text-gray-100 mt-4 mb-10 ml-5" do %>
      おばちゃんの小話を聞く
    <% end %>
  </div>
</div>
