<div class="navbar bg-violet-200 text-neutral-content">
  <div class="flex-1">
    <%= link_to '笑い、足りてる？', root_path, class: 'btn btn-ghost text-xl text-gray-800' %>
  </div>
  <div class="flex-none">
    <%= link_to 'みんなの笑いを覗く', jokes_path, class: 'btn btn-ghost text-sm text-gray-800 font-normal' %>
    <%= link_to t('header.signup'), new_user_path, class: 'btn btn-ghost text-sm text-gray-800 font-normal' %>
    <%= link_to t('header.login'), login_path, class: 'btn btn-ghost text-sm text-gray-800 font-normal' %>
  </div>
</div>