<footer class="footer footer-center p-4 bg-base-200 text-base-content rounded space-y-2">
  <%= link_to "お問い合わせ", "https://forms.gle/LZqJ3Uru6r1RPGDR9", target: "_blank", rel: "noopener noreferrer", class: "mr-2 hover:text-rose-400" %>
  <p>Copyright © 2024 笑えわらい</p>
</footer>