<footer class="text-gray-600 body-font">
  <div class="bg-gray-100">
    <div class="container mx-auto py-4 px-5 flex flex-wrap justify-center items-center">
      <!-- Links container -->
      <div class="flex justify-center items-center text-xs mb-4">
        <%= link_to "お問い合わせ", "https://forms.gle/LZqJ3Uru6r1RPGDR9", target: "_blank", rel: "noopener noreferrer", class: "mr-2" %>
      </div>
      <!-- Footer text -->
      <p class="text-gray-500 text-sm text-center w-full">© 2024 笑い、足りてる？</p>
    </div>
  </div>
</footer>
