<div class="navbar bg-violet-200 text-neutral-content">
  <div class="flex-1">
    <%= link_to '笑い、足りてる？', root_path, class: 'btn btn-ghost text-xl text-gray-800' %>
  </div>
  <div class="flex-none">
    <%= link_to '小話の一覧', jokes_path, class: 'btn btn-ghost text-sm text-gray-800 font-normal' %>
    <%= link_to '新しい小話', new_joke_path, class: 'btn btn-ghost px-15 text-sm text-gray-800 font-normal' %>
  </div>
</div>