@tailwind base;
@tailwind components;
@tailwind utilities;

.text-neonYellow {
    color: #ffd700;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    font-weight: bold;
}

.bg-neonPink {
    background-color: #ff69b4;
    color: #1a202c;
}

.hover\:bg-neonPink:hover {
    background-color: #ff1493;
}