<div class="chat chat-start flex justify-between items-center animate-tilt-in-top-1">
  <div class="chat-image avatar">
    <div class="w-12 sm:w-24 rounded-full">
      <%= image_tag "profile.png", class: "rounded-full" %>
    </div>
  </div>
    <div class="w-64 md:w-80 lg:w-96 chat-bubble bg-white text-base-content p4">
      <p class="card-text text-xs"><strong>テーマ:</strong> <%= joke.theme %></p>
      <p class="card-text text-xs"><strong>タイトル:</strong> <%= joke.title %></p>
      <p class="card-text text-sm"><%= joke.content %></p>
    </div>
</div>
