<div class="card w-64 sm:w-96 md:w-80 h-80 bg-blue-200 text-base-content p4 rounded-lg drop-shadow-md">
  <div class="card-body">
    <p class="card-text text-xs"><strong>テーマ:</strong> <%= joke.theme %></p>
    <p class="card-text text-xs"><strong>タイトル:</strong> <%= joke.title %></p>
    <p class="card-text text-xs"><%= joke.content %></p>
    <%= link_to 'タイトルを修正する', joke_path(joke), class: 'btn btn-active btn-link' %>
  </div>
</div>