<div class="card w-96 bg-primary text-primary-content">
  <div class="card-body">
    <p class="card-text"><strong>テーマ:</strong> <%= joke.theme %></p>
    <p class="card-text"><strong>タイトル:</strong> <%= joke.title %></p>
    <p class="card-text"><%= joke.content %></p>
  </div>
</div>