<div class="flex flex-col justify-center items-center min-h-screen">
  <h1 class="text-3xl font-bold mb-10 flex justify-center mt-20">小話の一覧</h1>
  <% if @jokes.present? %>
    <div class="flex justify-center">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-8 gap-x-36 ">
        <%= render @jokes %>
      </div>
    </div>
    <div class="mt-10 flex justify-center">
      <%= render 'kaminari/paginator', jokes: @jokes %>
    </div>
  <% else %>
    <p>小話がまだ投稿されてないで！</p>
  <% end %>
</div>
<div class="mt-4 flex justify-center mt-20">
  <%= link_to '新しい小話を聞く', new_joke_path, class: 'btn btn-outline btn-neutral text-gray-700 hover:text-gray-100 mt-4 mb-10 ml-5' %>
  <%= link_to 'トップページに戻る', root_path, class: 'btn btn-outline btn-neutral text-gray-700 hover:text-gray-100 mt-4 mb-10 ml-5' %>
</div>
