<div class="flex flex-col justify-center items-center min-h-screen">
  <h1 class="text-3xl font-bold mb-10 flex justify-center mt-20">小話の一覧</h1>
  <%= render 'search_form', q: @q, url: jokes_path %>
  <% if @jokes.present? %>
    <div class="flex justify-center mt-10">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-8 gap-x-36 ">
        <%= render @jokes %>
      </div>
    </div>
    <div class="mt-20 mb-20 flex justify-center">
      <%= render 'kaminari/paginator', jokes: @jokes, window: 2 %>
    </div>
  <% else %>
    <p>小話がまだ投稿されてないで！</p>
  <% end %>
</div>
