<div class="container mx-auto p-4">
  <h1 class="text-3xl font-bold mb-10 flex justify-center">小話の一覧</h1>
  <% if @jokes.present? %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 gap-x-8">
      <%= render @jokes %>
    </div>
    <div class="mt-4 flex justify-center mt-10">
      <%= render 'kaminari/paginator', jokes: @jokes %>
    </div>
  <% else %>
    <p>小話がまだ投稿されてないで！</p>
  <% end %>
</div>
  <%= link_to '新しい小話を聞く', new_joke_path, class: 'btn btn-outline btn-neutral text-gray-500 hover:text-gray-100 mt-4 mb-10 ml-5' %>
</div>