<div class="flex flex-col justify-center items-center min-h-screen">
  <h1 class="text-3xl font-bold mb-10 text">小話の詳細</h1>
  <%= render partial: 'joke_detail', locals: { joke: @joke } %>
  <div class="mt-7">
  <%= link_to "戻る", jokes_path, class: "btn btn-outline btn-neutral text-gray-700 hover:text-gray-100 mt-4 mb-10 ml-5" %>
  </div>
</div>
